@import "tailwindcss";

* {
  color: rgb(229, 214, 214);
  font-size: 20px;
  /* error */
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;

  background-color: #dfdae2;
  height: 100vh;
  width: 100%;
}
.navbar {
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
}
.navbar a {
  text-decoration: none;

  padding: 1.7rem 1.3rem;
}
.navbar input {
  border-radius: 100px;
  background-color: rgb(5, 10, 10);
  margin-top: 15px;
  margin: 25px;
  padding: 0.3rem 8rem;
}
.navbar .search {
  padding-left: 14px;
  color: rgb(242, 234, 234);
}
.navbar .centersearch {
  color: rgb(231, 235, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  /* error */
}
.cards {
  margin: 0 auto;

  width: 1640px;
  display: grid;
  grid-template-columns: repeat(8, 190px);
  gap: 1rem;
}

.cardimg {
  width: 100%;
}
.cardimg img {
  width: 100%;
  height: 285px;
  border-radius: 1.5rem;
}

.card h1 {
  font-size: 0.9rem;
  text-align: center;
  color: black;
}

a {
  text-decoration: none;
  color: #1a1414;
  
}
.para {
  width: 1090px;
  margin: 0 auto;
  align-items: center;
  color: black;
}
.carddetail img {
  width: 220px;
  height: 300px;
  border-radius: 1.5rem;
  color: black;
}
.carddetail h1{
  margin: 1.5px;
  padding: 1.5px;
  color: black;
  
}
.para p {
  font-size: 1rem;
  color: #091e1b;
}
